<div>
  <input [(ngModel)]="name" placeholder="Имя животного">
  <input [(ngModel)]="ageAnimal" type="number" placeholder="Возраст">
  <input [(ngModel)]="weight" type="number" placeholder="Вес">
  <input [(ngModel)]="gender" placeholder="Пол">
  <button (click)="setAnimal()">Установить свойства животного</button>
</div>

<!-- Plant Section -->
<div>
  <input [(ngModel)]="species" placeholder="Вид растения">
  <input [(ngModel)]="agePlant" type="number" placeholder="Возраст растения">
  <input [(ngModel)]="height" type="number" placeholder="Высота растения">
  <input [(ngModel)]="state" placeholder="Состояние растения">
  <button (click)="setPlant()">Установить свойства растения</button>
</div>

<!-- Interaction Section -->
<button (click)="interactWithPlant(1)">Расти</button>
<button (click)="interactWithPlant(2)">цвести</button>
<button (click)="interactWithPlant(3)">плодоносить</button>
<button (click)="interactWithPlant(4)">кушать</button>